'use client'
import {
  Modal,
  ModalContent,
  ModalHeader,
  ModalBody,
  ModalFooter,
  Button,
  useDisclosure
} from '@nextui-org/react'
import { DeleteIcon } from '../components/icons'

const <%=data%>DeleteModal = ({ id, setRefetch }: { id: any; setRefetch: any }) => {
  const { isOpen, onOpen, onOpenChange } = useDisclosure()

  async function post(e: any) {
    e.preventDefault()
    let url = process.env.NEXT_PUBLIC_API_URL + '<%=data.toLowerCase()%>/' + id

    const res = await fetch(url, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    if (res) {
      setRefetch((prev: boolean) => !prev)
    }
  }

  return (
    <>
      <span onClick={onOpen}>
        <DeleteIcon />
      </span>
      <Modal isOpen={isOpen} onOpenChange={onOpenChange}>
        <ModalContent>
          {onClose => (
            <>
              <ModalHeader className='flex flex-col gap-1'>
                Confirmation
              </ModalHeader>
              <ModalBody>
                <p> Are you sure you want to delete this record?</p>
              </ModalBody>
              <ModalFooter>
                <Button color='danger' variant='light' onPress={onClose}>
                  No
                </Button>
                <Button color='primary' onPress={onClose} onClick={post}>
                  Yes
                </Button>
              </ModalFooter>
            </>
          )}
        </ModalContent>
      </Modal>
    </>
  )
}

export default <%=data%>DeleteModal
