'use client'
import { Button, Switch } from '@nextui-org/react'
import { useRouter } from 'next/navigation'
import React from 'react'
// import { logoutRealm } from '../utils/serverFunctions'
import { useTheme } from 'next-themes'
import { IoSunny } from 'react-icons/io5'
import { FaMoon } from 'react-icons/fa'
import { deleteAllCookies, deleteCookie, getCookie } from './cookieMgment'

const LogoutPage = () => {
  const routes = useRouter()
  const { theme, setTheme } = useTheme()

  const toggleTheme = () => {
    setTheme(theme == 'dark' ? 'light' : 'dark')
  }

  async function logout() {
    deleteAllCookies()
    window.location.href = '/'
  }

  return (
    <div className='flex w-[100%] justify-end'>
      <Switch
        className='select-none'
        checked={theme == 'dark' ? true : false}
        onChange={() => toggleTheme()}
        size='sm'
        color='primary'
        thumbIcon={({ isSelected }) =>
          isSelected ? <IoSunny color='#000' /> : <FaMoon color='#000' />
        }
      ></Switch>

      <Button size='sm' onClick={logout}>
        Logout
      </Button>
    </div>
  )
}

export default LogoutPage
