'use client'
import { Button, Switch } from '@nextui-org/react'
import { useRouter } from 'next/navigation'
import React from 'react'
import { logoutRealm } from '../torusComponents/serverFunctions'
import { useTheme } from 'next-themes'
import { IoSunny } from 'react-icons/io5'
import { FaMoon } from 'react-icons/fa'

const LogoutPage = () => {
  const routes = useRouter()
  const { theme, setTheme } = useTheme()

  const toggleTheme = () => {
    console.log(theme)
    setTheme(theme == 'dark' ? 'light' : 'dark')
  }

  async function logout() {
    const allDeatiles = {
      ...JSON.parse(localStorage.getItem('user') || '{}'),
      token: JSON.parse(localStorage.getItem('token') || '{}')
    }
    if (allDeatiles) {
      var demo = {
        realm: allDeatiles.realm,
        client_id: allDeatiles.client_id,
        client_secret: allDeatiles.client_secret
      }
      const res = await logoutRealm(demo, allDeatiles.token)
    } else {
      alert('Logging out failed')
    }

    localStorage.removeItem('token')
    localStorage.removeItem('user')
    localStorage.removeItem('allowedComponents')
    localStorage.removeItem('peData')
    localStorage.setItem('isLogin', 'false')
    document.cookie = 'token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'
    document.cookie = 'orpSecurity=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'
    document.cookie = 'currentPage=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'
    routes.push('./')
}

  return (
    <div className='flex w-[100%] justify-end'>
       <Switch
          className='select-none'
          checked={theme == 'dark' ? true : false}
          onChange={() => toggleTheme()}
          size='sm'
          color='primary'
          thumbIcon={({ isSelected }) =>
            isSelected ? <IoSunny color='#000' /> : <FaMoon color='#000' />
          }
        ></Switch>
        
      <Button size='sm' onClick={logout}>Logout</Button>
    </div>
  )
}

export default LogoutPage
